@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: 'Poppins', sans-serif;

}

html {
    min-width: 280px;
    overflow-x: hidden;
    overflow-y: hidden;

    transition: .4s;
}

body {
    min-width: 280px;
    overflow-x: hidden;

}

main {
    min-width: 280px;
    min-height: 870px;
}

img {
    height: 100%;
    width: 100%;
    background-repeat: fi;
}

textarea {
    resize: none !important;
}

footer {
    min-height: 388px;
}

svg{
    fill: var(--color-fourth);
}

:root {
    --color-body: #fff;
    --color-dark: #000;

    --shadow-color: 0deg 0% 0%;

    /* BG-SLATE-100 */
    --color-main: rgb(241 245 249);
    /* BG-SLATE-200 */
    --color-second: rgb(226 232 240);
    /* BG-SLATE-300 */
    --color-third: rgb(203 213 225);
    /* BG-SLATE-400 */
    --color-active: rgb(148 163 184);
    /* BG-BLUE-500 */
    --color-fourth: rgb(96 165 250);
    /* BG-CLUE-500*/
    --color-fourth-hover: rgb(59 130 246);


    --color-text-main: #000;
    /* TEXT-SLATE-500 */
    --color-text-second: rgb(100 116 139);
}

/* ==== REUSABLES ==== */

.color-main {
    background-color: var(--color-main);
}

.color-hover {
    background-color: var(--color-hover);
}

.color-second {
    background-color: var(--color-second);
}

.color-second:hover {
    background-color: var(--color-third);
}

.color-third {
    background-color: var(--color-third);
}

.color-active {
    background-color: var(--color-active);
}

.color-fourth {
    background-color: var(--color-fourth);
}

.color-fourth:hover {
    background-color: var(--color-fourth-hover);
}

.color-text-main {
    color: var(--color-text-main);
}

.color-text-second {
    color: var(--color-text-second);
}

.color-text-third {
    color: var(--color-fourth);
}

.color-dark {
    background-color: var(--color-dark);
}

@media screen and (min-width:1024px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 10fr !important;
    }

}

@media screen and (max-width:1023px) {
    .container {
        grid-template-rows: 1fr 10fr !important;
    }
}

/* @media screen and (max-width:370px) {
    body{
        display: flex;
        width: min-content !important;
        background-color: red !important;
    }

} */

.colorMode {
    display: none;
    bottom: -200%;
}

.home__blob{
    width: 350px;
}

.home__blob-img{
    width: 300px;
    filter: grayscale(20%);
}
.active {
    background-color: var(--color-active) !important;
}

.apply-opacity {
    opacity: 1 !important;
    z-index: 10;
}

.toggle-opacity {
    opacity: 1 !important;
}

/* ========== PORTFOLIO ============ */

.proyect {
    position: relative;
    z-index: 10;
    overflow: hidden;
}


.proyect-img {
    z-index: 5;
    transition: .4s;
}

.proyect-overlay {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    height: 100%;
    width: 100%;
    transition: .4s;
    opacity: 0;
    z-index: 20;
}

.proyect-overlay:before {
    transform: translate(50%, -50%);
}

.proyect-overlay:after {
    transform: translate(50%, -50%) rotate(90deg);
}

.proyect:hover .proyect-overlay {
    opacity: .825;
}

.proyect:hover .proyect-img {
    transform: scale(1.1);
}


.point-active {
    background-color: var(--color-dark) !important;
}

.span-proyect-active {
    color: rgb(59 130 246);
}


.list-proyect-active {
    display: flex !important;
}

.proyect-active {
    display: flex !important;
}

#proyect {
    height: 400px
}

#proyect img {
    object-fit: cover;
}

/* SWIPER */

.swiper {
    overflow: hidden;
    height: 300px !important;
}

.swiper-wrapper {
    /* height: 300px !important; */
    display: flex;
    align-items: center;

}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    padding:0 30px 0 60px;
    /* height: 100px !important; */
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



/* .swiper-slide img {
    display: block;
    height:300px;
    object-fit: cover;
  } */





.swiper-button-prev::after,
.swiper-button-next::after {
    content: '';
    display: none;
}

.swiper-button-next {
    top: 13rem !important;
    left: 1.2rem !important;
}

.swiper-button-prev {
    bottom: -5rem !important;
    left: 1.2rem !important;
}



.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: -2.5rem;
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullet {
    outline: none;
}

/* ================ skills ============== */

#skill {

    height: 0;
    display: none;

}

#skill-arrow {
    transition: .4s;
}

.skill-open #skill {
    display: inline;
    height: 100%;

}


.skill-open #skill-arrow {

    transform: rotate(-180deg);
}

.skills__blob{
    width: 300px;
}

.skills__blob-img{
    width: 200px;
}

/* ================= TESTIMONIAL =============== */

@media screen and (max-width:320px){
    .swiper-slide{
        padding:0 10px 0 20px;
    }

    .swiper-button-next {
        left: .2rem !important;
    }
    
    .swiper-button-prev {
        left: .2rem !important;
    }
    
}

@media screen and (max-width:1310px){
  .testimonial-container{
    display:flex;
    flex-direction:column;
  }  
  
}

@media screen and (max-width:470px){
    .testimonial-data{
        height: 30%;
        flex-direction: column;
    }

    .testimonial-stars{
        text-align: end;
    }
}

.testimonial-data{
    justify-content: space-between;
    padding:0 10px;
    margin:0 0 10px 0;
}

.data-client{
    align-items:center;
}

.data-client img{
    height:64px;
    width:64px;
}
    

.data-client div{
    /* width: 70%; */
    text-align:start;
    margin: 0 0 0 10px;
}

.data-client div span{
    color:#666;
}
/* ========================== FOOTER ======================== */
#button-send {
    background-color: var(--fourth-color) !important;
}