*{
	box-sizing: border-box;	
}

body{
	background-color: #000;
	
}

.container{
	overflow: hidden;
}

.estadio{
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	max-width: 1400px;
}

.columna{
	width: 100px;
	height: 800px;
}

.claro{
	background-color: rgb(76, 255, 100);
}

.oscuro{
	background-color: rgb(6, 141, 6);
}


